@charset "UTF-8";


/* logout.bladeのCSS */

body {
    min-height: 100vh;
    background-image: linear-gradient(to top, #f3df3b 0%, #0e73d0 62%);
}

header {
    margin-top: 56px;
    padding-bottom: 24px;
    color: #ffffff;
    text-align: center;
}

header h1,
header p {
    margin: 0;
}

header h1 {
    width: 70;
}

header p {
    font-size: 58px;
    font-weight: bold;
}

/* login.bladeのCSS　*/

.login_screen {
    color: #ffffff;
    text-align: center;
    background-color: rgb(0 0 0 / 0.2);
    width: 480px;
    height: 510px;
    margin: 40px auto;
    padding: 48px;
    border-radius: 14px;
    margin-bottom: 72px;
}

.welcome {
    font-size: 32px;
    padding-top: 12px;
    padding-bottom: 18px;
}

.input_item label {
    font-size: 24px;
    font-family: "Comic Sans MS";
    display: block;
    text-align: left;
    margin-bottom: 8px;
    border: none;
}

.input_item input {
    font-size: 24px;
    display: inline-block;
    margin-bottom: 32px;
    border-radius: 8px;
    border: none;
    width: 100%;
    padding: 18px 8px;
    box-sizing: 12px;
    color: black;
}

.btn_area {
    display: flex;
    justify-content: flex-end;

}

.login_btn {
    font-size: 24px;
    padding: 8px 16px;
    background-color: #ed3a50;
    color: #fff;
    margin-bottom: 32px;
    border-radius: 12px;
    width: 200px;
    height: 68px;
    border: none;
}

.register {
    color: white;
}

.register a {
    font-size: 18px;
    color: white;
    text-decoration: underline;
}

/*　新規登録画面のCSS */

.register_screen {
    color: #ffffff;
    text-align: center;
    background-color: rgb(0 0 0 / 0.2);
    width: 480px;
    height: 744px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 14px;
    margin-bottom: 72px;
}

.entry {
    font-size: 32px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.register_item label {
    font-size: 24px;
    font-family: "Comic Sans MS";
    display: block;
    text-align: left;
    margin-bottom: 8px;
    border: none;
}

.register_item input {
    font-size: 24px;
    display: inline-block;
    margin-bottom: 32px;
    border-radius: 12px;
    border: none;
    width: 100%;
    padding: 18px 8px;
    box-sizing: 12px;
    color: black;
}

/* btn_areaは共通のため省略 */

.register_btn {
    font-size: 16px;
    background-color: #ed3a50;
    color: #fff;
    margin-bottom: 32px;
    border-radius: 12px;
    width: 120px;
    height: 42px;
    border: none;
    text-align: center;
    line-height: 42px;
}

.login {
    color: white;
}

.login a {
    font-size: 18px;
    color: white;
    text-decoration: underline;
}

.error {
    color: #ed3a50;
}

/* 登録完了画面のCSS　*/

#clear {
    color: #ffffff;
    text-align: center;
    background-color: rgb(0 0 0 / 0.2);
    width: 450px;
    height: 360px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 12px;
}

.entry_user {
    font-size: 26px;
    padding-top: 9px;
    padding-bottom: 64px;
}

.information {
    font-size: 26px;
    padding-bottom: 48px;
}


.transfer_login a {
    font-size: 24px;
    display: inline-block;
    background-color: #ed3a50;
    color: #fff;
    padding: 24px 38px;
    border-radius: 8px;
}
