@charset "utf-8";

.icon_list {
    height: 64px;
    width: 64px;
}

/* navigation.bladeの設定 */


#head {
    display: flex;
    height: 128px;
    align-items: center;
}

.logo {
    height: 64px;
    margin-left: 48px;
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}

#username {
    align-items: center;
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.accordion_menu {
    display: flex;
    align-items: center;
}

.toggle_button {
    width: 50px;
    height: 50px;
    border: none;
    position: relative;
    cursor: pointer;
    margin-top: 18px;
}

.toggle_button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: translate(-50%, -50%) rotate(45deg);
}

.toggle_button.active {
    display: block;
    transform: rotate(-180deg);
    display: flex;
    align-items: flex-end;
}

#icon {
    margin-right: 32px;
}

.navi_menu {
    display: none;
    list-style: none;
    padding: 0;
}

.navi_menu.active {
    display: block;
    position: fixed;
    top: -1px;
    right: 0;
    margin-top: 128px;
}

.navi_menu li a {
    display: block;
    background-color: #f5f8fa;
    white-space: nowrap;
    width: 20vw;
    padding-top: 2.5vw;
    padding-bottom: 2.5vw;
    border: 1px solid black;
    font-size: 1.5vw;
    text-align: center;
    box-sizing: border-box;
}

.navi_menu li :hover {
    background-color: #00297e;
    color: #e0e0e0;
    text-decoration: none;
}

/* login.bladeの設定 */

header {
    background: #186AC9;
}

#row {
    display: flex;
}

#container {
    flex: 1 1 80%;
    border-right: 1px solid;
    min-height: 100vh;
    box-sizing: border-box;
}

.side_bar {
    max-width: 100%;
    width: 20vw;
    text-align: center;
}

.side_confirm {
    border-bottom: 1px solid;
    border-color: black;
}

.username {
    font-size: 2rem;
    margin-top: 38px;
    margin-left: 2rem;
    color: #222222;
}

.follower_list,
.follow_list {
    font-size: 1rem;
    display: flex;
    color: #222222;
    padding-top: 16px;
    padding-bottom: 16px;
}

.follow_number,
.follower_number {
    margin-left: 1rem;
    font-size: 18px;
}

.people {
    margin-left: 32px;
    font-size: 18px;
}

.sidebar_btn {
    display: flex;
    justify-content: flex-end;
}


.sidebar_link {
    width: 200px;
    background-color: #0656cf;
    font-size: 18px;
    color: white;
    padding: 24px;
    border-radius: 16px;
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    justify-content: center;
}

.search_btn {
    background-color: #0656cf;
    font-size: 18px;
    color: white;
    padding: 24px;
    border-radius: 16px;
    margin: 32px auto;
    display: flex;
    justify-content: center;
    width: 200px;
}

/* topの投稿一覧（入力フォーム部門）　*/

.post_container {
    display: flex;
    border-bottom: 8px solid;
    border-color: #e0e0e0;
}

.user_icon {
    width: 64px;
    height: 64px;
    margin-left: 64px;
    margin-top: 58px;
}

.post_form {
    display: flex;
}

.post {
    padding-top: 80px;
    border: none;
    margin-left: 32px;
    font-size: 2rem;
    width: 680px;
    height: 180px;
    box-sizing: border-box;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    background-color: #f5f8fa;
}

.post::placeholder {
    color: #727272;
}

.post_icon {
    background-color: #f5f8fa;
    border: none;
    vertical-align: bottom;
}

.post_icon img {
    height: 56px;
}

/* topの投稿一覧（自分とフォロアーの投稿履歴部門） */
/* 272行目から301行目まではathourprofile.balde.phpと共通のため省略 */

.post_result {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 16px;
    border-bottom: 1px solid;
    border-color: #e0e0e0;
    margin-bottom: 12px;
}

.user_post {
    display: flex;
    align-items: flex-start;
}

.user-post .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.user_post img {
    margin-left: 112px;
}

.user_data {
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    gap: 12px;
}

.post_post {
    margin-top: 8px;
}

.update_at {
    font-family: serif;
    position: absolute;
    top: 5px;
    right: 10px;
    margin-right: 8px;
}

.icon_set {
    position: absolute;
    bottom: 5px;
    right: 10px;
    margin-right: 8px;
}

.edit_button {
    border: none;
    background-color: #f5f8fa;
}

.edit_icon {
    height: 5rem;
    background-color: #f5f8fa;
}

.edit_icon:hover {
    height: 5rem;
    background-image: url("/images/edit_h.png");
}

.delete_icon {
    height: 5rem;
}

.delete_icon:hover {
    height: 5rem;
    background-image: url("/images/trash-h.png");
}

/* modal */

.modal,
.modal_overlay {
    display: none;
}

.modal_overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    color: rgb(179, 179, 179);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f5f8fa;
    padding: 20px;
    border-radius: 8px;
    z-index: 1000;
}

.modal_area {
    display: flex;
    flex-direction: column;
}

.post_edit {
    background-color: #f5f8fa;
    font-size: 24px;
    width: 95%;
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 24%;
    display: block;
    margin: 32px 32px 16px 16px;

}

.modal_edit {
    height: 56px;
    border: none;
    background-color: #f5f8fa;
}

.modal_edit:hover {
    height: 56px;
    background-image: url("/images/edit_h.png");
}

/* マイプロフィールのCSS */

.container_change {
    margin-top: 6%;
    justify-items: center;
}

.change_form {
    display: flex;
}

.my_icon {
    width: 48px;
    height: 48px;
    margin-right: 24px;
}

.profile_name,
.profile_email,
.profile_password,
.profile_confirmation,
.profile_bio {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 128px;
    margin-bottom: 32px;
}

.my_data {
    text-align: left;
    min-width: 120px;
}

.input_name,
.input_email,
.input_password,
.input_confirmation,
.input_bio {
    height: 42px;
    width: 380px;
}

.profile_icon {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 128px;
    margin-bottom: 32px;
}

.input_icon {
    border: 1px solid black;
    background-color: #ffffff;
    height: 84px;
    width: 380px;
}

.input[type=file] {
    padding: 16px;
}

.btn_area {
    text-align: center;
}

.btn-success {
    display: inline-block;
    margin-top: 32px;
    background-color: #ed3a50;
    height: 32px;
    width: 180px;
    border-radius: 8px;
    border: none;
}

.error {
    color: #ed3a50;
}

/* followListのCSS　*/

.followList {
    display: flex;
    padding-top: 40px;
    padding-bottom: 64px;
    border-bottom: 8px solid #e0e0e0;
}

.follow_title {
    display: flex;
    align-items: center;
    font-size: 32px;
    color: black;
    margin-right: 64px;
    margin-left: 96px;
}

.follow_icon {
    padding-right: 8px;
    height: 72px;
    width: 72px;
}

/* 投稿一覧のCSSはtopの投稿一覧と同じなので省略 */

/*followerListのCSS */

.followerList {
    display: flex;
    padding-top: 40px;
    padding-bottom: 64px;
    border-bottom: 8px solid #e0e0e0;
}

.follower_title {
    display: flex;
    align-items: center;
    font-size: 32px;
    color: black;
    margin-right: 64px;
    margin-left: 96px;
}

.follower_icon {
    padding-right: 8px;
    height: 72px;
    width: 72px;
}

/* 投稿一覧のCSSはtopの投稿一覧と同じなので省略 */

/* ほかのユーザーのプロフィール投稿一覧 */

.user_card {
    display: flex;
    border-bottom: 8px solid;
    border-color: #e0e0e0;
    padding-bottom: 72px;
    align-items: flex-start;
    margin-top: 24px;
}

.athor_icon {
    width: 64px;
    height: 64px;
    display: flex;
    margin-left: 96px;
    align-items: flex-start;
}

.account {
    display: flex;
    margin-left: 40px;
    gap: 152px;
    align-items: flex-start;
    font-size: 24px;
    line-height: 40px;
}

.follow_btn {
    margin-left: auto;
    margin-right: 40px;
    align-self: flex-end;
}

/* ほかのユーザーの投稿はtopと同じため省略 */

/* searchページのCSS */

.search_container {
    display: flex;
    padding: 56px 0px;
    border-bottom: 8px solid;
    border-color: #e0e0e0;
}

.search {
    display: flex;
    align-items: center;
}

.keyword {
    font-size: 2rem;
    width: 320px;
    height: 56px;
    margin-left: 88px;
    border-radius: 8px;
}

.search_icon {
    border: none;
    vertical-align: bottom;
    background-color: #f5f8fa;
    margin-left: 16px;
}

.search_icon img {
    height: 50px;
}

.result {
    display: none;
}

.result.active {
    display: flex;
    margin-left: 160px;
    font-size: 32px;
}

.search_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search_user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 40%;
    margin-top: 40px;
}

.search_user form {
    display: flex;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

.search_user_icon {
    text-align: left;
}

.search_username {
    margin-left: 32px;
    font-size: 16px;
    text-align: left;
}
