@charset "utf-8";

html {}

body {}

/* header */
header {
    background: #186AC9;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
}

#head {
    display: flex;
    align-items: center;
}

.logo {
    height: 36px;
}

.header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;

}

#username {
    align-items: center;
    margin-right: 20px;
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.navi-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

.navi-menu.active {
    display: block;
    transform: translateY(100%);
}

.accordion-menu {
    display: flex;
}

.toggle-button {
    width: 50px;
    height: 50px;
    border: none;
    position: relative;
    cursor: pointer;
}

.toggle-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 12px;
    height: 12px;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    transform: translate(-50%, -50%) rotate(45deg);
}

.toggle-button.active {
    display: block;
    transform: translate(-50%, -50%) rotate(-180deg);
    display: flex;
    align-items: flex-end;
}
